* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "inter", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #f0f0f3;
    background-color: #011f42;
    position: relative;
    margin-top: 5%;
    /* min-height: 100vh;  */
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 450px;
    padding: 1.3rem;
    min-height: 250px;
    position: absolute;
    top: 20%;
    background-color: #2e5585;
    border: 1px solid #ddd;
    border-radius: 15px;
    z-index: 2;
}

.reset-game {
    display: inline-block;
    padding: 0.4rem 0.5rem;
    font-weight: 700;
    background-color: #031a44de;
    color: white;
    width: 150px;
    border-radius: 10px;
    text-align: center;
    font-size: 1em;
   
}

.hidden {
    display: none;
}

.modal .flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.modal p {
    font-size: 1.2rem;
    color: #ffffff;
    margin: 0.4rem 0 0.2rem;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
}

#container {
display: flex;
justify-content: center;
align-items: center;
gap: 2em;
margin: 2em;
}

#score {

}

#player, #computer {

}

.end-message {

}
button {
    

}
button :hover {

}

.para {
    padding: 20px 120px;
    margin: 2px 240px; 
    font-style: italic;
}

img {
    border-radius: 10px;
    width: 200px;
    height: 200px;
}

img :hover {
    background-color: #9dc5f7;
}




