* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "inter", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #f0f0f3;
    background-color: #011f42;
    position: relative;
    margin-top: 5%;
    
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 450px;
    padding: 1.3rem;
    min-height: 250px;
    position: absolute;
    top: 20%;
    background-color: #2e5585;
    border: 1px solid #ddd;
    border-radius: 15px;
    z-index: 2;
}

.reset-game {
    display: inline-block;
    padding: 0.4rem 0.5rem;
    font-weight: 700;
    background-color: #031a44de;
    color: white;
    width: 150px;
    height: 80px;
    border-radius: 10px;
    text-align: center;
    font-size: 1em;
   
}

.reset-game:hover {
    color: #011f42;
    background: #69b4f1;
}

.hidden {
    display: none;
}

.modal .flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.modal p {
    font-size: 1.2rem;
    color: #ffffff;
    margin: 0.4rem 0 0.2rem;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(26, 4, 4, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
}

#container {
display: flex;
justify-content: center;
align-items: center;
background-color: #011f42;
gap: 2em;
margin: 2em;
}

#score {
display: flex;
justify-content: flex-end;
gap: 8em;
font-weight: 800;
font-size: larger;
margin-top: 4em;
}

#player, #computer {
    font-size: xx-large;
}

.draw-message {
    font-size: x-large;
    font-weight: 900;
    font-style: italic;
    color: white;
}
.win-message {
    font-size: x-large;
    font-weight: 900;
    font-style: italic;
    color: green;
}

.lose-message {
    font-size: x-large;
    font-weight: 900;
    font-style: italic;
    color: red;
}

#container button {
    border-radius: 20px;
    width: 100px;
    height: 100px;  

}
button:hover {
    background-color: #9dc5f7;
}

button:active {
    background-color: #68f5c6;
}

.para {
    padding: 20px 120px;
    margin: 2px 240px; 
    font-style: italic;
}

img {
    
    padding: 10px;
    border-radius: 20px;
    width: 100px;
    height: 100px;
}





